@model NewBookViewModel 
@{
    ViewBag.title = "Yeni Kitap";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <form method="post">
  <div class="mb-3">
    <label asp-for="Title" class="form-label"></label>
    <input asp-for="Title" type="text" class="form-control">
    <div class="form-text text-danger">
      <span asp-validation-for="Title"></span>
    </div>
  </div>
   <div class="mb-3">
    <label asp-for="Genre" class="form-label"></label>
    <input asp-for="Genre" type="text" class="form-control">
    <div class="form-text text-danger">
      <span asp-validation-for="Genre"></span>
    </div>
  </div>
   <div class="mb-3">
    <label asp-for="PublishDate" class="form-label"></label>
    <input asp-for="PublishDate" type="text" class="form-control">
    <div class="form-text text-danger">
      <span asp-validation-for="PublishDate"></span>
    </div>
  </div>
   <div class="mb-3">
    <label asp-for="ISBN" class="form-label"></label>
    <input asp-for="ISBN" type="text" class="form-control">
    <div class="form-text text-danger">
      <span asp-validation-for="ISBN"></span>
    </div>
  </div>
   <div class="mb-3">
    <label asp-for="CopiesAvailable" class="form-label"></label>
    <input asp-for="CopiesAvailable" type="text" class="form-control">
    <div class="form-text text-danger">
      <span asp-validation-for="CopiesAvailable"></span>
    </div>
  </div>
  <div class="mb-3">
        <label asp-for="AuthorId" class="form-label"></label>
        <select asp-for="AuthorId" asp-items="ViewBag.Author" class="form-select">
            <option value="">Seçiniz</option>
        </select>
        <div class="form-text text-danger">
            <span asp-validation-for="AuthorId"></span>
        </div>
    </div>

  <button type="submit" class="btn btn-primary">Ekle</button>
</form>
</body>
</html>