@{
    ViewData["Title"] = "Kütüphane Yönetim Sistemi";
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/HomeIndex.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MvcProject.style.css" asp-append-version="true" />
    <title>Kütüphane Ana Sayfa</title>
</head>
<body>
    <div class="container text-center mt-5">
        <!-- Kitaplar Butonu -->
        <a href="@Url.Action("Index", "Book")" class="btn btn-primary btn-lg mx-3" role="button">Kitaplar</a>
        <!-- Yazarlar Butonu -->
        <a href="@Url.Action("Index", "Author")" class="btn btn-success btn-lg mx-3" role="button">Yazarlar</a>

    </div>

    <!-- Bootstrap ve custom script bağlantıları -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
