@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
<title>Html Arkaplan Resim Ekranı Kaplama </title>
<style>
body{
background-image: url('/img/resim2.jpg');
background-repeat: no-repeat;
background-size: cover;
height:700px;
}
</style>
</head>
</html>