@model AboutViewModel

<div class="about-section">
    <div class="container">
        <h1 class="about-title text-center">Hakkında</h1>
        <div class="about-content row">
            <div class="col-lg-6 about-text">
                <h2 class="section-title">Biz Kimiz</h2>
                <p class="section-description">
                    Biz, kitapların gücüne inanan bir topluluğuz. Amacımız, kullanıcılarımıza ilham verici kitaplar ve yazarlar hakkında derinlemesine bilgi sağlamak, kitap okuma alışkanlıklarını teşvik etmektir. Web sitemiz, sizlere en iyi okuma deneyimini sunmak için sürekli güncellenmektedir.
                </p>
            </div>
            <div class="col-lg-6 about-image">
                <img src="https://img.freepik.com/free-photo/college-woman-library_23-2147678894.jpg" alt="Biz Kimiz" class="img-fluid shadow-lg">
            </div>
        </div>

        <div class="about-content row">
            <div class="col-lg-6 about-image">
                <img src="https://images.pexels.com/photos/694740/pexels-photo-694740.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Kitaplar" class="img-fluid shadow-lg">

            </div>
            <div class="col-lg-6 about-text">
                <h2 class="section-title">Kitaplar</h2>
                <p class="section-description">
                    Kitaplar, insan hayatını dönüştüren en güçlü araçlardır. Sitemiz, çeşitli türlerdeki kitaplar hakkında kapsamlı bir koleksiyon sunar. Her yaştan okura hitap eden içeriklerimizle, okuma alışkanlıklarını pekiştirmeyi amaçlıyoruz.
                </p>
            </div>
        </div>

        <div class="about-content row">
            <div class="col-lg-6 about-text">
                <h2 class="section-title">Yazarlar</h2>
                <p class="section-description">
                    Yazarlar, her bir kitabın arkasındaki yaratıcı zihinlerdir. Sitemizde, dünya çapında tanınan yazarların biyografilerini, yazı tarzlarını ve eserlerini keşfedebilirsiniz. Yazarlar hakkında derinlemesine bilgi sahibi olmak, kitaplarla daha güçlü bir bağ kurmanıza yardımcı olacaktır.
                </p>
            </div>
            <div class="col-lg-6 about-image">
                <img src="https://e1.pxfuel.com/desktop-wallpaper/728/660/desktop-wallpaper-50-writer-writer-women.jpg" alt="Yazarlar" class="img-fluid shadow-lg">
            </div>
        </div>
    </div>
</div>

<!-- Optional Section for additional information -->
<section class="about-more-info bg-light py-5">
    <div class="container text-center">
        <h3>Hakkımızda Daha Fazla Bilgi Edinin</h3>
        <p>Kitaplarla ilgili daha fazla içerik, yazar röportajları ve okuma önerileri için bizi takip edin.</p>
    </div>
</section>
